<!--
  Generated template for the CreateUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Create User</ion-title>
  </ion-navbar>
</ion-header>
<ion-content >
  <form [formGroup] = "signUpForm" (submit)="signUpUser()" novalidate>
    <ion-list>
      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input formControlName="name"  type="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input formControlName='email' type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input formControlName='password' type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Confirm Password</ion-label>
        <ion-input formControlName='confirmPassword' type="password"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button  color="stable" type="submit">
      Sign up
    </button>
  </form>
  <ion-item>
    <ion-label>Select Apartment</ion-label>
    <ion-select [(ngModel)]="selectedApartment" (ngModelChange)="toggleApartment(selectedApartment)">
      <ion-option *ngFor="let apartment of apartments" value="{{apartment.id}}">{{apartment.name}}</ion-option>
    </ion-select>
  </ion-item>
</ion-content>
