<ion-header>
  <ion-navbar>
    <ion-title>
      Visitors
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page8" style="background-color:#CC0B22;">
  <ion-card id="visitors-card210">
    <ion-list>
      <ion-item color="none" id="visitors-list-item44">
        <ion-icon name="man" item-left></ion-icon>
        Invite visitors
      </ion-item>
      <div style="width:100%;height:220px;margin:0px 0px;line-height:250px;background-color:#e8ebef;text-align:center;">
        <i class="icon ion-image" style="font-size:64px;color:#888;vertical-align:middle;"></i>
      </div>
      <ion-item id="visitors-list-item-container7"></ion-item>
      <form id="visitors-form6">
        <ion-item id="visitors-select4">
          <ion-label>
            Mobile input
          </ion-label>
          <ion-select name="">
            <ion-option>
              Select Contact
            </ion-option>
            <ion-option>
              Vamsi
            </ion-option>
            <ion-option>
              Nadella
            </ion-option>
          </ion-select>
        </ion-item>
      </form>
      <button id="visitors-button6" ion-button color="positive" block>
        Send OTP
      </button>
    </ion-list>
  </ion-card>
  <ion-card id="visitors-card211">
    <ion-list>
      <ion-item color="none" id="visitors-list-item46">
        <ion-icon name="calendar" item-left></ion-icon>
        Invited visitors
      </ion-item>
      <div style="width:100%;height:220px;margin:0px 0px;line-height:250px;background-color:#e8ebef;text-align:center;">
        <i class="icon ion-image" style="font-size:64px;color:#888;vertical-align:middle;"></i>
      </div>
      <ion-item color="none" id="visitors-list-item47">
        <ion-icon name="contact" item-left></ion-icon>
        Vamsi
        <ion-note item-right></ion-note>
      </ion-item>
      <ion-item color="none" id="visitors-list-item48">
        <ion-icon name="ionic" item-left></ion-icon>
        Nadella
        <ion-note item-right></ion-note>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>