<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page2">
  <h1 id="about-heading1" style="color:#000000;">
    Help or Support or contact details of the recption or management
  </h1>
</ion-content>