<ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page5">
  <form [formGroup] = "loginForm" (submit)="loginUser()" novalidate>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <!--<ion-item class="error-message" *ngIf="!loginForm.controls.email.valid &&-->
   <!--loginForm.controls.email.touched">-->
        <!--<p>Please enter a valid email address.</p>-->
      <!--</ion-item>-->
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input formControlName="password" type="password">
        </ion-input>
      </ion-item>
      <!--<ion-item class="error-message" *ngIf="!loginForm.controls.password.valid-->
  <!--&& loginForm.controls.password.touched">-->
        <!--<p>Your password needs more than 6 characters.</p>-->
      <!--</ion-item>-->
      <button ion-button block type="submit" >
        Log In
      </button>
  </form>
  <button ion-button block clear (click)="goToSignup()">
    Create a new account
  </button>

  <button ion-button block clear (click)="goToResetPassword()">
    I forgot my password 🙁
  </button>
</ion-content>
