<ion-tabs id="tabsController-tabs1">
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home" id="tabsController-tab2"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Alexa" tabIcon="cube" id="tabsController-tab4"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="About" tabIcon="arrow-dropright-circle" id="tabsController-tab3"></ion-tab>
</ion-tabs>