<ion-header>
  <ion-navbar>
    <ion-title>
      Alexa
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page4" style="background-color:#D10828;">
  <ion-card id="alexa-card26">
    <ion-list>
      <ion-item color="none" id="alexa-list-item34">
        <ion-icon name="ionic" item-left></ion-icon>
        Maintenance
        <ion-icon name="settings" item-right></ion-icon>
      </ion-item>
      <div style="width:100%;height:220px;margin:0px 0px;line-height:250px;background-color:#e8ebef;text-align:center;">
        <i class="icon ion-image" style="font-size:64px;color:#888;vertical-align:middle;"></i>
      </div>
      <div id="alexa-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          Ask Alexa
          <strong>
            Hey Alexa can you show My Maintenance
          </strong>
        </p>
      </div>
      <ion-item color="assertive" id="alexa-list-item35">
        <ion-icon name="musical-notes" item-left></ion-icon>
        click button (directly calls alexa without asking
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card id="alexa-card27">
    <ion-list>
      <ion-item color="none" id="alexa-list-item36">
        <ion-icon name="ionic" item-left></ion-icon>
        Similar
        <ion-icon name="settings" item-right></ion-icon>
      </ion-item>
      <div style="width:100%;height:220px;margin:0px 0px;line-height:250px;background-color:#e8ebef;text-align:center;">
        <i class="icon ion-image" style="font-size:64px;color:#888;vertical-align:middle;"></i>
      </div>
      <div id="alexa-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          Ask Alexa
          <strong>
            Hey Alexa can you show My Maintenance
          </strong>
        </p>
      </div>
      <ion-item color="assertive" id="alexa-list-item37">
        <ion-icon name="musical-notes" item-left></ion-icon>
        click button (directly calls alexa without asking
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card id="alexa-card28">
    <ion-list>
      <ion-item color="none" id="alexa-list-item38">
        <ion-icon name="ionic" item-left></ion-icon>
        similar
        <ion-icon name="settings" item-right></ion-icon>
      </ion-item>
      <div style="width:100%;height:220px;margin:0px 0px;line-height:250px;background-color:#e8ebef;text-align:center;">
        <i class="icon ion-image" style="font-size:64px;color:#888;vertical-align:middle;"></i>
      </div>
      <div id="alexa-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          Ask Alexa
          <strong>
            Hey Alexa can you show My Maintenance
          </strong>
        </p>
      </div>
      <ion-item color="assertive" id="alexa-list-item39">
        <ion-icon name="musical-notes" item-left></ion-icon>
        click button (directly calls alexa without asking
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>