<ion-header>
  <ion-navbar>
    <ion-row>
      <ion-col col-1>
        <ion-buttons align-self-start>
          <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-title text-center="0px">
          MyHome - Bhooja
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>
<ion-content id="page3" style="background-color:#af40ff;padding: 0">
  <ion-card style="margin-top: 100px">
    <ion-item>
      <ion-avatar item-start>
        <ion-icon large name="contact"></ion-icon>
      </ion-avatar>
      <h3>Vamsi Alla</h3>
      <p>Tirumana cyber residency</p>
    </ion-item>
  </ion-card>
  <ion-card style="margin-top: 30px;box-shadow: 8px 9px 19px 2px rgba(60, 59, 59, 0.64);">
    <ion-card-header ion-row (click)="goToMaintenance()" style="padding: 0">
      <ion-col col-7>
        <ion-item>
          Monthly Payment
        </ion-item>
      </ion-col>
      <ion-col col-5>
        <ion-item color="none">
          <div style="float:right;">$900</div>
          <ion-icon name="arrow-round-forward" item-right=""></ion-icon>
        </ion-item>
      </ion-col>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col col-4 ion-item>
          <ion-buttons align-items-center>
            <button ion-button icon-only>
              <ion-icon name="microphone"></ion-icon>
            </button>
          </ion-buttons>
          <div>Announcements</div>
        </ion-col>
        <ion-col col-4 ion-item>
          <ion-buttons align-items-center>
            <button ion-button>
              <ion-icon name="people"></ion-icon>
            </button>
          </ion-buttons>
          <div>Groups</div>
        </ion-col>
        <ion-col col-4 ion-item>
          <ion-buttons align-items-center>
            <button ion-button icon-only>
              <ion-icon name="play"></ion-icon>
            </button>
          </ion-buttons>
          <div>Alexa</div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card style="background: none;border: none;margin-top: 30px">
    <ion-row>
      <ion-col col-6>
        <ion-list>
          <ion-item class="">
            <ion-avatar item-start>
              <img src="../../assets/imgs/security.png">
            </ion-avatar>
            <h3>Security</h3>
          </ion-item>
          <ion-item>
            <ion-avatar item-start>
              <img src="../../assets/imgs/playground.png">
            </ion-avatar>
            <h3>Book Playgrounds</h3>
          </ion-item>
          <ion-item>
            <ion-avatar item-start>
              <img src="../../assets/imgs/complaints.png">
            </ion-avatar>
            <h3>Complaints</h3>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col col-6>
        <ion-list>
          <ion-item>
            <ion-avatar item-start>
              <img src="../../assets/imgs/club_house.png">
            </ion-avatar>
            <h3>Club House</h3>
          </ion-item>
          <ion-item>
            <ion-avatar item-start>
              <img src="../../assets/imgs/Maintenance_50px.png">
            </ion-avatar>
            <h3>Utilities</h3>
          </ion-item>
          <ion-item>
            <ion-avatar item-start>
              <img src="../../assets/imgs/carpool.png">
            </ion-avatar>
            <h3>Pooling</h3>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-card>
  <!--<ion-card id="home-card21">-->
    <!--<ion-list>-->
      <!--<ion-item-sliding>-->
        <!--<ion-item color="none" on-click="goToMaintenance()" id="home-list-item7">-->
          <!--<ion-icon name="ionic" item-left></ion-icon>-->
          <!--Maintenance-->
          <!--<ion-icon name="settings" item-right></ion-icon>-->
        <!--</ion-item>-->
        <!--<ion-item-options side="left">-->
          <!--<button ion-button color="positive">-->
            <!--pay-->
          <!--</button>-->
          <!--<button ion-button color="positive">-->
            <!--view-->
          <!--</button>-->
        <!--</ion-item-options>-->
      <!--</ion-item-sliding>-->
    <!--</ion-list>-->
  <!--</ion-card>-->
  <!--<ion-card id="home-card22">-->
    <!--<ion-list>-->
      <!--<ion-item color="none" on-click="goToVisitors()" id="home-list-item13">-->
        <!--<ion-icon name="ionic" item-left></ion-icon>-->
        <!--visitors-->
        <!--<ion-icon name="people" item-right></ion-icon>-->
      <!--</ion-item>-->
    <!--</ion-list>-->
  <!--</ion-card>-->
  <!--<ion-card id="home-card23">-->
    <!--<ion-list>-->
      <!--<ion-item color="none" on-click="goToClubHouse()" id="home-list-item19">-->
        <!--<ion-icon name="ionic" item-left></ion-icon>-->
        <!--Club house events-->
        <!--<ion-icon name="body" item-right></ion-icon>-->
      <!--</ion-item>-->
    <!--</ion-list>-->
  <!--</ion-card>-->
  <!--<ion-card id="home-card24">-->
    <!--<ion-list>-->
      <!--<ion-item color="none" id="home-list-item25">-->
        <!--<ion-icon name="ionic" item-left></ion-icon>-->
        <!--Utilities-->
        <!--<ion-note item-right></ion-note>-->
        <!--<ion-icon name="checkmark-circle" item-right></ion-icon>-->
      <!--</ion-item>-->
    <!--</ion-list>-->
  <!--</ion-card>-->
  <!--<ion-card id="home-card25">-->
    <!--<ion-list>-->
      <!--<ion-item color="none" id="home-list-item31">-->
        <!--<ion-icon name="ionic" item-left></ion-icon>-->
        <!--Complaints-->
        <!--<ion-icon name="create" item-right></ion-icon>-->
      <!--</ion-item>-->
    <!--</ion-list>-->
  <!--</ion-card>-->
</ion-content>
