<ion-menu side="start" [content]="mainContent">
  <ion-header>
    <ion-toolbar>
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item  menuClose *ngFor="let menuItem of pages" (click)="openPage(menuItem)">
        {{menuItem.title}}
      </button>
      <ion-item-divider></ion-item-divider>
      <button ion-item menuClose (click)="logOutUser()">
        Logout
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav #mainContent [root]="rootPage"></ion-nav>
