<ion-header>
  <ion-navbar>
    <ion-title>
      Club House
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page9" style="background-color:#CC0B22;">
  <ion-card id="clubHouse-card212">
    <ion-list>
      <ion-item color="none" id="clubHouse-list-item49">
        <ion-icon name="man" item-left></ion-icon>
        Basketball
      </ion-item>
      <form id="clubHouse-form9">
        <ion-item id="clubHouse-input8">
          <ion-label>
            Date
          </ion-label>
          <ion-input type="date" placeholder=""></ion-input>
        </ion-item>
        <ion-item id="clubHouse-input9">
          <ion-label>
            Time
          </ion-label>
          <ion-input type="time" placeholder=""></ion-input>
        </ion-item>
        <ion-item id="clubHouse-toggle2">
          <ion-label>
            Toggle
          </ion-label>
          <ion-toggle color="positive" checked="false"></ion-toggle>
        </ion-item>
      </form>
      <div style="width:100%;height:220px;margin:0px 0px;line-height:250px;background-color:#e8ebef;text-align:center;">
        <i class="icon ion-image" style="font-size:64px;color:#888;vertical-align:middle;"></i>
      </div>
      <button id="clubHouse-button8" ion-button color="positive" block>
        Book
      </button>
    </ion-list>
  </ion-card>
</ion-content>