<ion-header>
  <ion-navbar>
    <ion-title>
      Maintenance
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page7" style="background-color:#CC0B22;">
  <ion-card id="maintenance-card29">
    <ion-list>
      <ion-item color="none" id="maintenance-list-item42">
        <ion-avatar item-left>
          <img />
        </ion-avatar>
        <h2>
          Bill
        </h2>
      </ion-item>
      <div style="width:100%;height:220px;margin:0px 0px;line-height:250px;background-color:#e8ebef;text-align:center;">
        <i class="icon ion-image" style="font-size:64px;color:#888;vertical-align:middle;"></i>
      </div>
      <ion-item id="maintenance-list-item-container6"></ion-item>
      <form id="maintenance-form5">
        <ion-item id="maintenance-select2">
          <ion-label>
            Month
          </ion-label>
          <ion-select name="">
            <ion-option>
              JAN
            </ion-option>
            <ion-option>
              FEB
            </ion-option>
            <ion-option>
              MAR
            </ion-option>
          </ion-select>
        </ion-item>
      </form>
      <div id="maintenance-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#080808;">
          Amount :
          <strong>
            8000
          </strong>
        </p>
      </div>
      <div id="maintenance-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#080808;">
          Status :
          <strong>
            PAID
          </strong>
        </p>
      </div>
      <div id="maintenance-markdown14" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#080808;">
          BillDate :
          <strong>
            01/01/2019
          </strong>
        </p>
      </div>
      <div id="maintenance-markdown15" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#080808;">
          PaidDate :
          <strong>
            01/01/2019
          </strong>
        </p>
      </div>
      <button id="maintenance-button4" ion-button color="positive" block>
        Pay
      </button>
    </ion-list>
  </ion-card>
</ion-content>