<ion-header>
  <ion-navbar>
    <ion-title>
      Signup
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page6">
  <form id="signup-form2">
    <ion-list id="signup-list2">
      <ion-item id="signup-input3">
        <ion-label>
          Name
        </ion-label>
        <ion-input type="text" placeholder=""></ion-input>
      </ion-item>
      <ion-item id="signup-input4">
        <ion-label>
          Email
        </ion-label>
        <ion-input type="email" placeholder=""></ion-input>
      </ion-item>
      <ion-item id="signup-input5">
        <ion-label>
          Password
        </ion-label>
        <ion-input type="text" placeholder=""></ion-input>
      </ion-item>
    </ion-list>
    <button id="signup-button3" ion-button color="stable" block>
      Sign up
    </button>
  </form>
</ion-content>